<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="Dashboard">
  <div class="LeftHandSideComponent">
    <button type="button" (click)="toggleopenNav()">
      <img class="BrowseLogo" src="../../../assets/Icons/NavigationBarIcons/menu_FILL0_wght400_GRAD0_opsz24.svg" id="1">
    </button>
    <img class="GoogleKeepLogo" src="../../../assets/AppLogos/GoogleKeepLogo.png">
  </div>
  <div class="MiddleComponent">
      <div class="SearchBarDiv">
        <img src="../../../assets/Icons/NavigationBarIcons/icons8-search-50.png" class="SearchIcon">
        <input type="text" placeholder="Search" class="SearchBar">
      </div>
  </div>
  <div class="RightHandSideComponent">
    <img src="../../../assets/Icons/NavigationBarIcons/refresh_FILL0_wght400_GRAD0_opsz24.svg" class="ReloadImageIcon">
    <img src="../../../assets/Icons/NavigationBarIcons/equal_FILL0_wght400_GRAD0_opsz24.svg" class="DoubleListIcon">
    <img src="../../../assets/Icons/NavigationBarIcons/icons8-settings-32.png" class="SettingsIcon">
    <img src="../../../assets/Icons/NavigationBarIcons/apps_FILL0_wght400_GRAD0_opsz24.svg" class="AllAppsIcon">
    <button class="SignInButton">Sign In</button>
  </div>
</div>
