<div class="Main">
  <div class="LayoutDisplay">
    <div class="TitlePinDiv">
      <div class="TitleDiv">
        <p class="Title">
          DisplayNote
        </p>
      </div>
      <div class="pinDiv">
        <img src="../../../assets/Icons/DisplayNotesIcons/icons8-pin-24 (1).png" class="PinImage">
      </div>
    </div>
    <div class="DescriptionDiv">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique delectus enim dignissimos ipsum consequuntur veniam, ea architecto vitae ipsam adipisci perspiciatis sit deserunt labore, molestiae iste qui illum nostrum cum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam delectus possimus nisi veniam, unde corrupti voluptatem dicta voluptatibus omnis distinctio, quas voluptatum maxime iusto fuga voluptas illum iste nesciunt et.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nobis corporis perferendis, iste accusamus, pariatur delectus dolorum aliquid quas incidunt, iure vero! Exercitationem excepturi vero asperiores soluta. Cumque, exercitationem suscipit!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque quam dignissimos laudantium ex, maiores ducimus repudiandae adipisci, tenetur commodi pariatur aut molestias mollitia corporis recusandae quod eligendi at magni debitis?
    </div>
    <div class="IconsDiv">
      <img src="../../../assets/Icons/DisplayNotesIcons/notifications_FILL0_wght400_GRAD0_opsz24 (1).svg" class="AllIcons">
      <img src="../../../assets/Icons/DisplayNotesIcons/person_add_FILL0_wght400_GRAD0_opsz24.svg" class="AllIcons">
      <img src="../../../assets/Icons/DisplayNotesIcons/palette_FILL0_wght400_GRAD0_opsz24.svg" class="AllIcons">
      <img src="../../../assets/Icons/DisplayNotesIcons/image_FILL0_wght400_GRAD0_opsz24.svg" class="AllIcons">
      <img src="../../../assets/Icons/DisplayNotesIcons/archive_FILL0_wght400_GRAD0_opsz24 (1).svg" class="AllIcons">
      <img src="../../../assets/Icons/DisplayNotesIcons/more_vert_FILL0_wght400_GRAD0_opsz24.svg" class="AllIcons">
    </div>
  </div>
</div>
