<!-- <div class="SideNavigationBar" [style.width.px]="openNav?300:100 "> -->
<div class="SideNavigationBar">
  <div class="NotesDiv">
      <img src="../../../assets/Icons/SideNavIcons/lightbulb_FILL0_wght400_GRAD0_opsz24.svg" class="Nav-Lighbulb">
      <p class="nav-notes-text">
          Notes
      </p>
  </div>
  <div class="NotificationDiv">
      <img src="../../../assets/Icons/SideNavIcons/notifications_FILL0_wght400_GRAD0_opsz24.svg" class="Nav-notification">
      <p class="nav-reminder-text">
          Reminders
      </p>
  </div>
  <div class="LabelDiv">
      <img src="../../../assets/Icons/SideNavIcons/label_FILL0_wght400_GRAD0_opsz24.svg" class="LabelIcon">
      <p class="LabelText">
          Label1
      </p>
  </div>
  <div class="LabelDiv">
      <img src="../../../assets/Icons/SideNavIcons/label_FILL0_wght400_GRAD0_opsz24.svg" class="LabelIcon">
      <p class="LabelText">
          Label2
      </p>
  </div>
  <div class="LabelDiv">
      <img src="../../../assets/Icons/SideNavIcons/label_FILL0_wght400_GRAD0_opsz24.svg" class="LabelIcon">
      <p class="LabelText">
          Label3
      </p>
  </div>
  <div class="EditDiv">
      <img src="../../../assets/Icons/SideNavIcons/pen.svg" class="editicon">
      <p class="EditText">
          Edit Labels
      </p>
  </div>
  <div class="ArchieveDiv">
      <img src="../../../assets/Icons/SideNavIcons/archive_FILL0_wght400_GRAD0_opsz24.svg" class="ArchieveIcon">
      <p class="ArchiveText">
          Archive
      </p>
  </div>
  <div class="DeleteDiv">
      <img src="../../../assets/Icons/SideNavIcons/delete_FILL0_wght400_GRAD0_opsz24.svg" class="DeleteIcon">
      <p class="DeleteText">
          Delete
      </p>
  </div>
</div>
